* {
  box-sizing: border-box;
  font-family: 'IBM Plex Mono', monospace;
  /* background-color: beige; */
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  display: inline-block;
}

/* AUTH FORM */
#auth-input form div input {
  margin: 1em;
}

small {
  margin: 1em;
}

/* NAVBAR */
.logo {
  width: 100px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 10px;
}

.nav-links li a {
  color: black;
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: #ff80e4;
}

/* .circle {
  background: #ff80e4;
  border-radius: 50%;
  width: 40px;
  height: 40px;
} */

/* HOMEPAGE */
/* HERO AREA */

.banner {
  width: 100%;
  height: 70%;
  top: 25%;
  position: relative;
}

.banner div {
  height: 600px;
  background-image: url('/header.png');
}

.admin-banner div {
  height: 220px;
  background-color: black;
  color: white;
}

.hero-text {
  width: 100%;
  float: left;
}

.hero-text h1 {
  font-size: 42px;
  width: 640px;
  position: relative;
  margin: 80px 0 20px 60px;
}

.hero-text p {
  font-size: 16px;
  width: 640px;
  position: relative;
  margin: 40px 0 30px 60px;
  line-height: 25px;
}

.main-cta {
  background-color: black;
  color: white;
  padding: 15px;
  border-radius: 5px;
  margin: 40px 0 30px 60px;
}

.floating-words div {
  background-color: beige;
  padding: 20px;
}

/* .floating-words {
  font-size: 20px;
  text-transform: uppercase;
  animation: animate 20s linear infinite;
  animation-delay: none;
  padding: 40px;
  overflow: hidden;
  margin-bottom: 0px;
  /* background-color: beige; */
}
@keyframes animate {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-50%);
  }
} */

/* HOW IT WORKS */

.how-it-works {
  background: #ffe4e4;
  height: 600px;
}

.admin-how-it-works {
  background: #ffe4e4;
  height: 520px;
}

.admin-links {
  color: black;
}

.hiw-text {
  text-align: center;
  padding-top: 50px;
}

.home-illustration {
  height: 150px;
  width: 150px;
  /* background-position: center center; */
  object-fit: contain;
  /* border-radius: 50%; */
}

.column {
  float: left;
  width: 33.33%;
  padding: 30px;
  margin-top: 20px;
  text-align: center;
}

.image-block {
  display: flex;
  height: 300px;
  width: 300px;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
}
.home-image-block {
  background: #fff999;
  height: 350px;
  justify-content: center;
  align-items: center;
  align-content: center;
}

/* TEAM  */

.team-section {
  height: 600px;
  background-color: rgb(255, 255, 239);
}

.team-section h2 {
  padding-top: 50px;
  margin-top: 0;
  text-align: center;
}

.team-column {
  float: left;
  width: 25%;
  padding: 30px;
  margin-top: 20px;
  text-align: center;
}

.team-photo {
  border-radius: 50%;
  object-fit: cover;
  height: 200px;
  width: 200px;
  margin: 20px;
  background: -webkit-linear-gradient(left top, #ff80e4 0%, #49ffed 100%);
  border-radius: 1000px;
  padding: 8px;
}

.linkedin-logo {
  width: 40px;
}

/*ALL PRODUCTS PAGE*/

.all-product-view {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  background-color: #f9eaf9;
}

.all-products {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  padding-bottom: 40px;
  margin: 20px;
}

.all-product-image {
  height: 320px;
  width: 270px;
  object-fit: cover;
}

.all-product-name {
  color: black;
}

.short-desc {
  max-width: 270px;
  color: rgb(119, 119, 119);
}

.all-product-price {
  color: black;
}

/* .all-button-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
} */

.all-add-to-cart {
  background-color: black;
  color: white;
  padding: 15px;
  margin-top: 15px;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

/* SINGLE PRODUCTS PAGE */

.single-product-container {
  float: left;
  width: 50%;
  margin-top: 40px;
}

.single-product-name {
  color: black;
}

.single-product-image {
  height: 520px;
  width: 470px;
  object-fit: cover;
  margin-left: 70px;
}

.long-desc {
  color: rgb(119, 119, 119);
  max-width: 500px;
}

.single-product-price {
  color: black;
}

.single-add-to-cart {
  background-color: black;
  color: white;
  padding: 15px;
  margin-top: 30px;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

/* ADMIN SINGLE PRODUCT */

.admin-product-container {
  float: left;
  width: 50%;
  margin-top: 40px;
}

.admin-button-container {
  float: left;
  width: 50%;
}

.admin-create-product-container {
  float: left;
  width: 50%;
  margin-top: 40px;
  margin-left: 80px;
}

/* ADMIN USERS VIEW */

.admin-table-container {
  margin-left: 40px;
  margin-top: 40px;
}

.admin-table-title {
  float: left;
  width: 33.33%;
}

/* LOGIN PAGE */

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* flex-grow: 2; */
  margin: 1em;
}

.login-cta {
  background-color: black;
  color: white;
  padding: 15px;
  margin-left: 15px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
}

#auth-input {
  height: 1000px;
  display: flex;
  background-color: #f9eaf9;
  justify-content: center;
  padding: 30px;
}

.login-content h3 {
  margin-left: 25px;
}

form input {
  border: none;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 2px 2px 5px #fbc1fa;
  width: 300px;
}
