* {
  box-sizing: border-box;
  font-family: 'IBM Plex Mono', monospace;
  /* background-color: beige; */
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* HOMEPAGE */

/* NAVBAR */
.logo {
  width: 100px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 10px;
}

.nav-links li a {
  color: black;
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: #ff80e4;
}

/* .circle {
  background: #ff80e4;
  border-radius: 50%;
  width: 40px;
  height: 40px;
} */

/* HERO AREA */

.banner {
  width: 100%;
  height: 70%;
  top: 25%;
  position: relative;
}

.banner div {
  height: 600px;
  background-image: url('/header.png');
}

.hero-text {
  width: 100%;
  float: left;
}

.hero-text h1 {
  font-size: 42px;
  width: 640px;
  position: relative;
  margin: 80px 0 20px 60px;
}

.hero-text p {
  font-size: 16px;
  width: 640px;
  position: relative;
  margin: 40px 0 30px 60px;
  line-height: 25px;
}

.main-cta {
  background-color: black;
  color: white;
  padding: 15px;
  margin: 40px 0 30px 60px;
}

.floating-words div {
  background-color: beige;
  padding: 20px;
}

.floating-words {
  font-size: 20px;
  text-transform: uppercase;
  animation: animate 20s linear infinite;
  animation-delay: none;
  padding: 40px;
  overflow: hidden;
  margin-bottom: 0px;
  /* background-color: beige; */
}
@keyframes animate {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* HOW IT WORKS */

.how-it-works {
  background: #ffe4e4;
  height: 600px;
}

.hiw-text {
  text-align: center;
  padding-top: 50px;
}

.home-illustration {
  height: 150px;
  width: 150px;
  /* background-position: center center; */
  object-fit: contain;
  /* border-radius: 50%; */
}

.column {
  float: left;
  width: 33.33%;
  padding: 30px;
  margin-top: 20px;
  text-align: center;
}

.image-block {
  display: flex;
  height: 300px;
  width: 300px;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
}
.home-image-block {
  background: #fff999;
  height: 350px;
  justify-content: center;
  align-items: center;
  align-content: center;
}

/* TEAM  */

.team-section {
  height: 600px;
  background-color: rgb(255, 255, 239);
}

.team-section h2 {
  padding-top: 50px;
  margin-top: 0;
  text-align: center;
}

.team-column {
  float: left;
  width: 25%;
  padding: 30px;
  margin-top: 20px;
  text-align: center;
}

.team-photo {
  border-radius: 50%;
  object-fit: cover;
  height: 200px;
  width: 200px;
  margin: 20px;
  background: -webkit-linear-gradient(left top, #ff80e4 0%, #49ffed 100%);
  border-radius: 1000px;
  padding: 8px;
}

.linkedin-logo {
  width: 40px;
}

/*ALL PRODUCTS PAGE*/

.all-product-view {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.all-products {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  padding-bottom: 40px;
  margin: 20px;
}

.all-product-image {
  height: 320px;
  width: 270px;
  object-fit: cover;
}

.all-product-name {
  color: black;
}

.all-product-desc {
  max-width: 270px;
  color: rgb(119, 119, 119);
}

.all-product-price {
  color: black;
}

/* .all-button-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
} */

.all-products .all-add-to-cart {
  background-color: black;
  color: white;
  padding: 15px;
  margin-top: 15px;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
